@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* 1. APLICAR TIPOGRAFÍA NUEVA, EN ESTE CASO POPPINS
   2. APLICAR FONDO GRIS (#f5f5f5) *Los artículos en blanco tienen su propia sección
*/

* {
  --background: #f5f5f5;
  /* Fondo general */
  --articulo-fondo: #ffffff;
  /* Fondo de los artículos */
  --fuente_principal: "Poppins", sans-serif;
  --color-texto: #333;


  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente_principal);
  background-color: var(--background);
  color: var(--color-texto);


  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {

  width: 100%;
  height: 100vh;
  /* Ajustado para ocupar todo el alto de la pantalla */
  background-image: url(./imagenes/faro2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  /* Flexbox para alinear contenido */
  flex-direction: column;
  justify-content: center;
  align-items: center;


}


.img__fondo {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  animation: zoom-in-zoom-out 30s ease infinite;
  object-fit: cover !important;
  box-sizing: border-box;
}

.lamina {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 5rem;
  left: 0;

  /* From https://css.glass */
  background: rgba(35, 31, 32, 0.72);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.6px);
  -webkit-backdrop-filter: blur(12.6px);
  border: 1px solid rgba(35, 31, 32, 0.3);

  box-sizing: border-box;

}



/* 
NAV VAR SECTION
 */

nav {
  height: 90px;
  max-width: auto;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 30;
  
}

.nav-menu {
  position: absolute;
  width: 100%;
  height: 0vh;
  top: 6rem;
  background: rgba(60, 60, 60, 0.95);
  text-align: center;
  transition: all 0.5s;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all 0.5s;
  width: 100%;
}

.nav-menu li a {
  color: #867171;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: #000000;
  transition: 0.3s;
}

.nav-menu li a:hover {
  font-weight: bold;
  text-decoration: none;
}

.logo {
  width: 30px;
  margin-left: 10px;

}

.bar-btn {
  font-size: 25px;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}


#check {
  display: none;
}

#check:checked~.nav-menu {
  height: 100vh;
  padding: 0;
}

#check:checked~.nav-menu li {
  display: block;
  padding: 0;
}

.banner-text {
  padding-top: 10px;
  text-align: center;
  z-index: 20;
}

.banner-text h1 {
  color: #fffbfb;
  font-size: 40px;
  text-transform: uppercase;

}

.banner-tex p {
  color: #f0f0f0;
  font-size: 18px;
  padding: 30px;

}

/*--------------------------------------*/


/* Estilos para la sección de deportes */
.seccion {
  padding: 1rem;
  text-align: center;
  background-color: var(--background);
  /* border-radius: 10px; */
  color: var(--color-texto);
}

h2,
h3 {
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para la tabla */
table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #000000;
  color: white;
}

/* Estilos para video y audio */
video,
audio {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

/* Estilos para el botón */
button {
  display: block;
  margin: 20px auto;
  padding: 0;
  font-size: 16px;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #000000;
}


/* CONTENEDOR DE ARTÍCULOS 
   2. ARTÍCULOS CON FONDO BLANCO
   3. ARTÍCULOS COMO GRILLA (ya no tabla)
*/
.contenedor-articulos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.contenedor-articulos>#contenedorArticulosNegocios,
#contenedorArticulosDeportes,
#contenedorArticulosNoticias {
  display: contents;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;

}

/* ESTILOS DE LOS ARTÍCULOS */
.articulo {
  background-color: var(--articulo-fondo);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.432);
  cursor: pointer;
}

/* 4. AL UBICAR EL MOUSE ENCIMA DE GRILLA
(HOVER) TENEMOS FONDO NEGRO Y LETRA BLANCA */
.articulo:hover {
  background-color: black;
  color: white;
  transform: scale(1.03);
}

.articulo:hover p {
  color: white;
  transform: scale(1.03);
}

.articulo:hover h3 {
  color: white;
}

.media-container {
  position: relative;
  width: 80%;
  /* Reduce el tamaño manteniendo proporciones */
  max-width: 1200px;
  /* Tamaño máximo */
  margin: auto;
  /* Centrar el contenedor */
  padding-bottom: 56.25%;
  /* Aspect ratio 16:9 */
  height: 0;
  overflow: hidden;
}

.media-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}


/* FOOTER
   5. FOOTER CON COLOR DE FONDO Y TEXTO
*/
footer {
  background-color: #c9d2d0;
  color: #31231e;
  text-align: center;
  padding: 15px;
  margin-top: 0px;
}

/* EFECTO NEGRITA EN VÍNCULOS
     6. EN VÍNCULOS SIN TOCAR: SE VEN SUBRAYADOS
        EN HOVER: QUITA SUBRAYADO + NEGRITA
  */
a {
  text-decoration: none;
  /* Subrayado por defecto */
  font-weight: normal;
  /* Texto normal */
  color: black;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  /* Quita el subrayado */
  font-weight: bold;
  /* Pone en negrita */
}

/* 
MEDIA SECTION 
*/


.formulario-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.formulario-flotante h3 {
  text-align: center;
  font-size: 1.1rem;
}

.formulario-flotante input,
.formulario-flotante textarea,
.formulario-flotante select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 0.9rem;
}

.formulario-flotante button {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
}

.formulario-flotante button:hover {
  background-color: #222;
}


/* CONTACTO */

.form-container {
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  width: 45%;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="text"] {
  border: none;
  /* Elimina bordes predeterminados */
  border-bottom: 2px solid black;
  /* Agrega línea inferior */
  outline: none;
  /* Elimina el contorno al seleccionar */
  padding: 5px;
  /* Opcional: Agrega espacio interno */
  font-size: 16px;
  /* Opcional: Ajusta el tamaño del texto */
}


.btn-enviar {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-enviar:hover {
  background-color: #0056b3;
}

.form-container body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f26b;

}


.contador {
  width: 100%;
  text-align: end;
  justify-items: end;
  border-radius: 10rem;

}

.contador>p {
  background-color: var(--articulo-fondo);
  border-color: #000;
  box-shadow: 3px 5px 1px #6d030348;
  width: 250px;
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  padding: 1rem 1rem;
  color: var(--color-texto);
}

input[type="text"] {
  border: none;
  /* Elimina bordes predeterminados */
  border-bottom: 2px solid black;
  /* Agrega línea inferior */
  outline: none;
  /* Elimina el contorno al seleccionar */
  padding: 5px;
  /* Opcional: Agrega espacio interno */
  font-size: 16px;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 50%;
  height: auto;
  max-height: 150px;
  resize: none;
  overflow: auto;
}


/* 
PANTALLA PARA MÓVIL
 */

@media (max-width: 894px) {
  body {
    background-color: #222;
    color: white;
  }

  .nav-menu {
    background: #222;
    top: 4.29rem;
    left: 0;
    bottom: 0;
  }

  .nav-menu li a {
    color: white;
  }




  h1,
  h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    text-align: center;
    padding: 0 15px;
  }

  table {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 12px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    color: #000000;
  }

  .articulo p {
    color: #000000;
  }

  .contenedor-articulos {
    grid-template-columns: 1fr;
  }



  .formulario-flotante h3 {
    font-size: 1rem;
  }

  .contenedor-articulos {
    padding: 10px;
  }

  .articulo {
    font-size: 1rem;
    padding: 10px;
  }



  .btn-flotante {
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    width: 3rem;
    height: 3rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .btn-flotante__icon {
    display: inline-block;
    /* Asegura que el icono mantenga su posición */
    text-align: center;
    /* Centra el texto en el interior del ícono */
  }
  



  /* Formulario flotante */
  .formulario-flotante {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    /* Oculto por defecto */
  }

  .reloj-cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 0.7rem;
  }


  button.btn-cerrar {
    top: 0.1rem;
    right: 1rem;
    position: absolute;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  button.btn-cerrar:hover {
    background-color: #31231e;
    color: wheat;
  }

  #contenedorArticulosNegocios {
    display: contents;
    gap: 10px;
  }

  .contador {
    margin-bottom: 1rem;
  }

  .contador>p {
    font-size: 0.7rem;
    width: 10rem;
  }

  .form-container {
    width: 90%;
  }

}

/* 
  PANTALLA PARA PC
*/

@media (width > 894px) {


  .logo {
    margin-left: 0;
  }


  nav {
    height: 80px;
    margin: 0 auto;
    list-style: none;
  }

  .nav__imagen {
    padding: 1rem;
    display: flex;
    justify-content: center;

  }


  .bar-btn {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    gap: 0;
    height: 100px;
    top: 0;
    background: inherit;
    text-align: right;
    margin-right: 2rem;
    padding: 0;
    gap: 0;

  }

  .nav-menu li {
    display: flex;
    justify-content: center;

    line-height: normal;
    margin: 0;
    padding: 0;
  }

  .nav-menu li a {
    display: flex;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  /* ---------------------------- */




  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }


  .banner-text {
    padding: 0px;
  }


  .banner-text h1 {
    font-size: 50px;
    color: #fff;
  }

  .banner-text p {
    padding: 30px 200px;
    color: #f0f0f0;
  }

  .reloj-cabecera {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.85);
    /* Fondo más oscuro */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    /* Sombra negra intensa */
    margin-left: auto;
    white-space: nowrap;
  }

  .btn-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }


  /* Formulario flotante */
  .formulario-flotante {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    /* Oculto por defecto */
  }

  button.btn-cerrar {
    top: 0.1rem;
    right: 1rem;
    position: absolute;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  button.btn-cerrar:hover {
    background-color: #31231e;
    color: wheat;
  }


}